<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="//dn-dhchouse.qbox.me/theme/assets/style.css">
    <link rel="alternate" type="application/rss+xml" title="<%=title%>" href="http://feeds.dhchouse.com/dhchouse/blog">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script>
      var _hmt = _hmt || [];
      (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?7b6ae999cee22423a15e1ba739ad02e4";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </head>
  <body>
    <header id="main-header">
      <div class="container"><a id="logo" href="/" title="<%=name%>"><%=name%></a>
        <nav>
          <ul>
            <li><a href="/page/about">关于我</a></li>
            <li><a href="/page/dream-list">梦想清单</a></li>
            <li><a href="/archives">文章存档</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <%- body %>
    <footer id="main-footer">
    <div class="container">
      <p>Lovingly made by willerce, modified by dhc, Powered by <a href="https://github.com/willerce/noderce">Noderce</a></p>
      <p>Thanks WebStorm, Nodejs and Express</p>
    </div>
    </footer>
    <div id="backtop"><span>回到顶部</span></div>
    <script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-1.8.1.min.js"></script>
    <script src='/libs/prettify.js'></script>
    <script type='text/javascript'>
      $(document).ready(function(){
        $("#backtop").hide();
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $('#backtop').fadeIn();
          } else {
            $('#backtop').fadeOut();
          }
        });
        $('#backtop').click(function () {
          $('body,html').animate({
            scrollTop: 0
          }, 500);
        });
        $("pre").addClass("prettyprint");
        prettyPrint();
      });
    </script>
  </body>
</html>
